{%extends 'base.html'%} {%block css%} {%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'edit.css'%}" />
{%endblock%} {%block title%}
<div class="header">
    <h2>글 수정 페이지</h2>
</div>
{%endblock%} {%block content%}

<div class="container">
    <form action="{% url 'edit' article.id %}" method="post">
        {% csrf_token %}
        <div>
            <div class="sub-header">글 제목</div>
            <input type="text" name="title" value="{{ article.title }}" />
        </div>
        <div>
            <div class="sub-header">글 내용</div>
            <textarea name="content" cols="30" rows="10">{{ article.content }}</textarea>
        </div>
        <div>
            <div class="sub-header">카테고리</div>
            <select name="category" id="select">
                {% for value, label in categories %}
                    <option value="{{ value }}" {% if article.category == value %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
            </select>
        </div>
        <button type="submit">수정 완료</button>
    </form>
</div>
{%endblock%}
