* {
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #fae8ed;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ffb2c5;
    padding: 0;
    width: 100%;
}

.block {
    background-color: #ffa2b9;
    padding: 0;
    width: 100%;
}

.block h3 {
    background-color: #ffa2b9; /* 제목 배경색 */
    margin: 0; /* 추가 */
    padding: 15px; /* 추가 */
    border-radius: 20px 20px 0 0; /* 추가 */
}
.block > div {
    background-color: white; /* 내부 div 배경색 */
    border-radius: 0 0 0 0;
}

.menu {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffa2b9;
    padding: 0;
    list-style-type: none;
    /* margin-bottom: 10px; */
}

.replies {
    margin-left: 50px;
    margin-top: -50px;
}

.button {
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
    background-color: #ffa2b9;
    padding: 15px;
    color: white;
}

#comment-input {
    width: 80%;
}

#reply-block {
    margin-top: -50px;
    margin-right: -200px;
}
