{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/detail.css" />
        <title>Detail</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>글 상세 페이지</h2>
            </div>
            <div class="block">
                <h3>제목</h3>
                <div>{{article.title}}</div>
            </div>
            <div class="block">
                <h3>내용</h3>
                <div>{{article.content}}</div>
            </div>
            <div class="block">
                <p>작성 시간</p>
                <div>{{article.time}}</div>
            </div>
            <div class="bottom-block">
                <a class="button" href="{%url 'list'%}">전체 목록으로 돌아가기</a>
                <a class="button" href="{%url 'new'%}">새로운 글 쓰기</a>
            </div>
        </div>
    </body>
</html>
