
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div><img src="{% static 'ellipse.png' %}"></div>
                <div class="header-text">
                    <h1>하영</h1>
                    <h1>To-Do List</h1>
                </div>
            </div>
            <div class="todo-list">
                <ul>
                    {% for post in posts %}
                        <li>
                            <div class="list-arrange">
                                <input type="checkbox">
                                <a class="list-a" href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                                <span class="d-day">D{{ post.dday }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="option">
                <a class="button" href="{% url 'new' %}">할 일 추가하기</a>
            </div>
    </body>
</html>
