{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'update.css' %}" />
        <title>Update To-Do</title>
    </head>
    <body>
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <div class="block">
                    <h1><label for="title">제목</label></h1>
                    <input type="text" class="input" id="title" name="title" value="{{ post.title }}" />
                </div>
                <div class="block">
                    <h1><label for="content">내용</label></h1>
                    <textarea name="content" class="input" id="content" cols="30" rows="10">
{{ post.content }}</textarea
                    >
                </div>
                <div class="block">
                    <h1><label for="deadline">마감 기한</label></h1>
                    <input type="date" class="input" id="deadline" name="deadline" value="{{post.deadline}}" />
                </div>
                <div class="option">
                    <button id="update" type="submit">수정하기</button>
                </div>
            </form>
        </div>
    </body>
</html>
