* {
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

body {
    background-color: #fae8ed;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffc2d1;
    width: 80%;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ffb2c5;
    padding: 0;
    width: 100%;
}

.menu {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffa2b9;
    /* margin-bottom: 10px; */
}

.bottom_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffc2d1;
    width: 80%;
    margin: 30px;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffa2b9;
    padding: 15px;
    color: white;
}
